@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

*{
	margin: 0;
	padding: 0;
}

html {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}
 body {
 	height: 2733px;
 }
header {
  background-color: LightGreen;
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 4.24%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.logo {
  background-image: url(image/Logo.png);
  background-repeat: no-repeat;
  margin-left: 13.42%;
  margin-top: 2.3%;
  width: 16.29%;
  height: 41.38%;
}
.nav{
  /*background-color: LightBlue;*/
  width: 50%;
  margin-left: 9%;
  margin-top: 2.94%;
  height: 30.0%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav li {
  display: inline-block;

}

.nav  li a{
  font-size: 14px;
  font-family: "Roboto Slab";
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  color: #373838;
  padding: 7.5px 16.0px;

}


.nav li a:hover  {
  color: rgb(255, 255, 255);
  border-radius: 2px;
  background-color: rgb(155, 36, 45);

}

.redColor {
  color: rgb(255, 255, 255) !important;
  border-radius: 2px;
  background-color: rgb(155, 36, 45);
}

@media screen and (max-width: 768px) {

	.nav {
		position: relative;
		min-height: 50px;
	}
	.nav ul {
			width: 20%;
			height: 30%;
			padding: 0;
			position: absolute;
			top: 0;
			left: 0;
			background:  url(image/hamburger.png) no-repeat;
			background-size: contain;
		}
		.nav li {
			display: none;
		}

		.nav ul:hover {
			width: 50%;
			background: none;
			background:  url(image/close.png) no-repeat;
			background-size: contain;
		}
		.nav ul:hover li{
			display: block;
			padding: 0;
			margin-left: 10%;
			text-align: center;
			background-color: rgba(255, 255, 255, 0.5);

		}
	}

.banners{
	width: 100%;
	height: 56.75%;
	background-color: Pink;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}
.banner1 {
	background-image: url(image/n.png);
	background-size: cover;
	background-color: red;
	width: 100%;
	height: 38.88%;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;

}
.text{
  font-family: "Roboto Slab";
  font-size: 50px;
  font-smooth: subpixel-antialiased;
  font-weight: bold;
  color: rgb(255, 255, 255);
  align-self: center;
  text-transform: uppercase;
  line-height: 1.2;
  /*margin-left: 317.928px; */
  margin-top: 15.67%;

}
.text1{
  font-size: 24px;
  font-family: "Roboto Slab";
  font-weight: 300;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  align-self: center;
 /* margin-left: 267.928px; */
	margin-top: 0.3%;
}

.button {
  font-size: 26px;
  font-family: "Open Sans";
  background-color: #FFFFFF;
  color: rgb(70, 166, 81);
  outline: none;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  display: inline-block;
  border-radius: 100px;
  border-color: transparent;
  box-shadow: 0 0 0 6px rgba(0,0,0,0.07);
  border-style: solid;
  align-self: center;
  /*left: 40.39%;*/
  margin-top: 3.6%;
  width: 19.21%;
  height: 9.46%;
}
.banner2 {
  background-color: rgb(241, 239, 236);
  /*margin-top: 718px; */
  width: 38.5%;
  height: 20.46%;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}
.logo-2 {
  background-image: url("image/logo2.png");
  background-repeat:no-repeat;
  margin-left: 39.72%;
  margin-top: 23.93%;
  width: 51.76%;
  height: 62.5px;
}
.banner3 {
  background-image: url(image/image1.png);
  background-repeat:no-repeat;
  background-size: cover;
 /* margin-left: 41.5%;
  margin-top: 718px; */
  width: 23%;
  height: 20.46%;
}
.banner4 {
	background-color: rgb(155, 36, 45);
  width:  38.5%;
  height: 20.46%;
  display: flex;
	flex-flow: column;
	justify-content: center;

}
.txt{
  font-size: 40px;
  font-family: "Roboto Slab";
  /*background-color: LightBlue;*/
  font-weight: bold;
  color: rgb(255, 255, 255);
  line-height: 0.55;
  margin-left: 8.12%;
}
.txt1{
  font-size: 16px;
  font-family: "Roboto";
  /*font-weight: 400;*/
  color: rgb(255, 255, 255);
	text-align: left;
  line-height: 1.375;
  margin-left: 8.1%;
  margin-top: 2.37%;
}

.green-banners {
	width: 61.5%;
	height: 40.8%;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
}
.banner5 {
  background: rgb(70, 166, 81);
  width: 100%;
  height: 50%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;

}
.txt2 {
  font-size: 40px;
  font-family: "Roboto Slab";
  color: rgb(255, 255, 255);
  font-weight: 600;
  align-self: flex-end;
  margin-right: 9.10%;
  margin-top: 6.77%;
}
.form {
  width: 46.18%;
  height: 13.81%;
  background-color: pink;
  align-self: flex-end;
  margin-right: 9.10%;
  margin-top: 2.8%;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;

}
.inp {
  background-color: rgb(94, 192, 105);
  color: rgb(70, 166, 81);
  opacity: 0.5;
  border: none;
  /*text-align: left;*/
  font-size: 16px;
  font-family: "Roboto";
  line-height: 1.375;
  width: 69.52%;
  height: 100%;
  outline: none;
}
.sub {
  background-color: rgb(52, 142, 62);
  color: rgb(255, 255, 255);
  border: none;
  font-family: "Roboto";
  font-size: 16px;
  width: 30.48%;
  height: 100%;
  outline: none;

}
.txt3 {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 400;
  color: rgb(255, 255, 255);
  line-height: 1.375;
  text-align: right;
  align-self: flex-end;
  margin-right: 9.10%;
  margin-top: 1.67%;
  width: 59.8%;
  height: 39px;*/
}
.banner6 {
  background-image: url("image/image2.png");
  background-size: cover;
  width: 100%;
  height: 50%;
}
.banner7 {
  background-image: url("image/image3.png");
  background-size: cover;
  width:  38.5%;
  height: 40.8%;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;


}

.like{
  background-color: rgb(59, 89, 151);
  /*left: 5%;
  top: 50.57%;*/
  width: 60%;
  height: 50%;

}
.section {
  width: 100%;
  height: 25.03%;
  background-color: LightBlue;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;

}
.events-title {
  font-size: 50px;
  font-weight: 300;
  background-color: LightPink;
  font-family: "Roboto Slab";
  color: rgb(55, 56, 56);
  line-height: 1.2;
  align-self: center;
  /*text-align: center;
  left: 571.407px;*/
  margin-top: 5.76%;
  padding: 0;
}
.events-in-october {
 margin-left: 15.79%;
 margin-top: 3.76%;
 background-color: yellow;
 width: 68.5%;
 height: 50.15%;
 list-style-type: none;
 display: flex;
 flex-direction: row;
 justify-content:space-between;
}
.event-in-october {
  background-color: pink;
  width:  27.49%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
}
.red-date {
  background-color: rgb(155, 36, 45);
  color: rgb(255, 255, 255);
  width: 88px;
  height: 88px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.red-date::after {
  content: '';
  border: 15px solid transparent;
  margin-top: 22px;
  border-top: 15px solid rgb(155, 36, 45);
  align-self: center;
}
.gray-date {
  background-color: rgb(55, 56, 56);
  color: rgb(255, 255, 255);
  width: 88px;
  height: 88px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.gray-date::after {
  content: '';
  border: 15px solid transparent;
  margin-top: 22px;
  border-top: 15px solid rgb(55, 56, 56);
  align-self: center;
}
.num{
  font-size: 36px;
  font-family: "Roboto Slab";
  margin-top: 21px;
  background-color: blue;
  color: rgb(255, 255, 255);
  font-weight: 500;
  line-height: 1.2;
  align-self: center;
}
.october {
  font-size: 30px;
  font-family: "Roboto Slab";
  color: rgb(155, 36, 45);
  line-height: 1.2;
  text-align: center;
  /*left: 644.844px;*/
  margin-top: 5%;
}
.lorem-ipsum-title {
  font-size: 18px;
  font-family: "Roboto Slab";
  margin-top: 3%;
  color: rgb(55, 56, 56);
  line-height: 1.2;
  align-self:  center;
}
.lorem-ipsum-text{
  font-size: 14px;
  font-family: "Roboto";
  color: rgb(55, 56, 56);
  line-height: 1.571;
  text-align: center;
  /*left: 208.572px;*/
  top: 10%;
  /*width: 265px;/*
  height: 80px;*/
}
.red-more {
  background-color: rgb(155, 36, 45);
  outline: none;
  border: none;
  line-height: 1.571;
  margin-top: 10%;
  width: 87px;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.gray-more {
  background-color: rgb(55, 56, 56);
  outline: none;
  border: none;
  line-height: 1.571;
  margin-top: 10%;
  width: 87px;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.more-text {
  text-decoration: none;
  font-size: 14px;
  font-family: "Roboto";
  text-transform:uppercase;
  color: rgb(255, 255, 255);
  line-height: 1.571;
  margin: auto;
}
footer {
  background-color: rgb(55, 56, 56);
  width: 100%;
  height: 14.05%;
}
